/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1170px) {

	.container{

		.searchWrap{
			margin: 31px 0px 0 20px;
			width: 40%;
		}

		.shippingWrap{
			margin: 30px 0px 0 5px;
			width: 25%;
		}

		.cartWrap{
			.cartHeader{
				font-size: 14px;
				line-height: 25px;
			}
		} 
		
	}
	.mainMenuLine{
		.container{
			.mainMenuNav{
				.mainMenuList{
					.mainMenuItem{
						.home{
							padding: 13px 14px;
						}
						.features{
							padding: 17px 14px;
						}
						.livingRoom{
							padding: 17px 14px;
						}
						.badrooms{
							padding: 17px 14px;
						}

						.blog{
							padding: 17px 14px;
						}
						.contactUs{
							padding: 17px 14px;
						}
					}

					.badroomsMenuItem{
						.subMenuBadroomsWrap{
							.subMenuBadrooms{
								width: 160px;
								padding: 10px;
							}
							.goods{
								margin: 10px;
								width: 230px;
								height: 400px;
								&:last-child{
									margin: 10px 10px 10px 0;
								}
							}
						} 
					}
				}
			}
		}
	}	

	.container{
		.featuresMenuSubmenuWrap{
			left: -50px;
		}
	}


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.hide992{
		display: none;
	}
	.hideAll992{
		display: none;	
	}

	.container{
		.rightPanel{
			.chatWrap{
				padding: 0 15px 0 0;
			}
		}
	}

	.container{

		.furnitureWrap{

			.furnitureHeader{
				font-size: 25px;
			}

			.furnitureWrapDescription{
				font-size: 11px;
				letter-spacing: 2px;
			}

		}


		.searchWrap{
			margin: 31px 0px 0 10px;
			width: 35%;
			.searchBtn{
				width: 75px;
			}
		}

		.shippingWrap{
			margin: 30px 0px 0 5px;
			width: 25%;
			.fa-truck{
				font-size: 20px;
				margin: 0 5px 0 0;
			}
			.shippingText{
				.shippingHeader{
					font-size: 15px;
				}
				.shippingDesc{
					font-size: 12px;
				}
			}
		}

		.cartWrap{
			width: 150px;
			.cartHeader{
				font-size: 12px;
				line-height: 25px;
			}
		}


		.livingroomMenuSubmenuWrap{
			padding: 15px 10px 10px 10px;
			.livingroomSubmenu{
				.livingroomSubmenuItem{
					flex-basis: 33%;
				}
			}
			a{
				padding: 5px 0;
			}
			.banner{
				width: 520px;
				margin: 10px 0 0 0;
			}
		}	
	



	}




}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.hide768{
		display: none;
	}

	.hide992{
		display: inline;
	}
	.container{
		.rightPanel{
			margin: 10px 0 0 0;
		}
	}
	.header{
		.logInPanel{
			.container{
				flex-wrap: wrap;
				justify-content: center;
			}
		}
	}


	#headLine{
		.container{
			flex-wrap: wrap;


			.furnitureWrap{
				width: 30%;
				order: 2;
			}
			.searchWrap{
				width: 100%;
				margin: 10px 30px;
				order: 1;
				.searchForm{
					margin: 0 auto;
				}
				&::after{
					content: "";
					width: 0px;
				}
			}

			.shippingWrap{
				width: 35%;
				order: 3;
			}

			.cartWrap{
				width: 25%;
				order: 4;
			}

		}
	}

	.container{
		.livingroomMenuSubmenuWrap{
			padding: 10px;
			width: 180px;
			.livingroomSubmenu{
				justify-content: center;
				flex-wrap: wrap;
				.livingroomSubmenuItem{
					flex-basis: 100%;
					border-bottom: 1px solid #dadada;
					padding: 10px 0;
				}
			}
		}





		.menu768{
			display: inline-block;
		}
	
	}
		.mainMenuLine .container .mainMenuNav .mainMenuList {
			.mainMenuItem{
				display: none;
			}
		}

}

@media only screen and (max-width : 530px) {

	#headLine{
		.container{
			.furnitureWrap{
				width: 100%;
				text-align: center;
				order: 1;
				margin: 5px 0;
			}
			.searchWrap{
				width: 100%;
				margin: 5px 20px;
				order: 2;
			}

			.shippingWrap{
				width: 50%;
				order: 3;
			}

			.cartWrap{
				width: 40%;
				order: 4;
			}

		}
	}


}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.hide480{
		display: none;
	}

	.container{
		.leftPanel{
			.mainRightMenu{
				>li{
					margin: 0 2px;
				}
			}
		}
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}