@import "./import/fonts";
@import "./import/reset";
@import "./import/media";
@import "./import/var";

/*======================
|		STYLE MAP      |
========================

0. common
1. header
	1.1. logPanel
	1.2. headLine
	1.3. mainMenuLine
	1.4. slider
2. main
	2.1. dealsSaleProducts
		2.1.1. deals
		2.1.2. salesAndProducts
			2.1.2.1. sale
			2.1.2.2. products
	2.2. bannersBlock
	2.3. feauteredProduct
	2.4. adventages
3. 
4. 
5. 
6. 
7. 
8. 
9. 

======================*/


/*0. common*/

.container{
	max-width: 1170px;
	min-width: 320px;
	margin: 0 auto;
}



/*===========================================================

1. header
============================================================*/





/*1.1. logPanel
___________________________________________________________*/

.logInPanel{
	padding: 10px 0 13px 0;
	border-bottom: 1px solid #ddd;
	font-size: 12px;

	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	a,
	i{
		color: #484848;

	}
}

.fa-sort-desc{
	position: relative;
	top: -3px;
}

.logPanelInner{
	display: inline-block;
	vertical-align: top;
	padding: 0 13px 0 0;
	&:last-child{
		padding: 0;
	}
}

.leftPanel{
	.mainRightMenu{
		>li{
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin: 0 12px;
			&:first-child{
				margin: 0px;
			}
			img{
				position: absolute;
				left: 5px;
			}

			&:hover a,
			&:hover i{
				color: $blueColor;
				cursor: pointer;
			}
		}
	
		.selectMenu{
			position: relative;
			z-index: 20;
			>a{
				padding: 0 0 10px 0;
			}
		}
	}

	.subMenu{
		position: absolute;
		background: #fff;
		margin: 10px 0 0 0;
		box-shadow: 0 0 6px rgba(0,0,0,.35);
		z-index: 10;
		display: none;
		a{
			padding: 5px 10px;
			display: block;
			width: 100%;
		}
		&:hover{
			a{
				color: #484848;
			}

		};
		li{
			&:hover{
				background: $blueColor;
				a{
					color: #fff;
				}
			}
		}
	}
	.langMenu{
		a{
			margin: 0 0 0 25px;
		}
		.subMenu{
			a{
				margin: 0 0 0 15px;		
			}
		}
	}
	.accountMenu{
		.subMenu{
			width: 150px;
			left: 0px;
		}
	}

}


.rightPanel{
	.fa{
		font-size: 18px;	
		line-height: 12px;
	}
	.chatWrap{
		padding: 0 45px 0 0;
	}
	.callUs{
		letter-spacing: 0.2px;
	}

	a{
		&:hover,
		&:hover i{
			color: $blueColor;
		}
	}
}




/*1.2. headLine
___________________________________________________________*/
.headLine{
	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
	}
}
	
	

 .furnitureWrap{
	margin: 23px 0 0 2px;
}

.furnitureHeader{
	text-transform: uppercase;
	font-size: 34px;
	font-family: "RalewayBlack";
}

.furnitureWrapDescription{
	font-size: 14px;
	color: #969696;
	letter-spacing: 3px;
}




.searchWrap{
	margin: 31px 0px 0 40px;
	width: 41%;
	position: relative;

	.searchForm{
		width: 90%;
		min-width: 200px;
		position: relative;
	}
	.fa-search{
		width: 42px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		background: #f5f5f5;
		color: #828282;
		box-sizing: border-box;
		position: absolute;
		left: 1px;
		top: 1px;
		z-index: 5;
		&::after{
			content: "";
			display: block;
			background: #dadada;
			position: absolute;
			width: 1px;
			height: 30px;
			top: 5px;
			right: 0;
		}
		
	}

	#search{
		width: 100%;
		height: 42px;
		line-height: 40px;
		background: #f5f5f5;
		color: #828282;
		font-size: 12px;
		letter-spacing: -.4px;
		border-top: 1px solid #dadada;
		border-bottom: 1px solid #dadada;
		border-left: 1px solid #dadada;
		border-right: none;
		box-sizing: border-box;
		padding: 0 100px 0 57px;
		position: relative;
		&:focus,
		&:active{
			box-shadow: 0 0 7px rgba(39,156,199,.4);
			border-top: 1px solid $blueColor;
			border-bottom: 1px solid $blueColor;
			border-left: 1px solid $blueColor;
		}

	}
	.searchBtn{
		width: 92px;
		height: 42px;
		box-sizing: border-box;
		color: #fff;
		font-size: 14px;
		text-transform:capitalize;
		font-family: "RalewayBold";
		background: $blueColor;
		border: none;
		position: absolute;
		right: 0px;
		top: 0px;
		cursor: pointer;
	}

	&::after{
		content:'';
		display: block;
		width: 1px;
		height: 80px;
		background: #dadada;
		position: absolute;
		right: 0;
		top: -20px;
	}
}


.shippingWrap{
	margin: 30px 0px 0 30px;
	width: 21%;
	.fa-truck{
		color: $blueColor;
		font-size: 30px;
		display: inline-block;
		margin: 0 10px 0 0;
	}
	.shippingText{
		display: inline-block;
		.shippingHeader{
			color: #444;
			font-size: 18px;
			font-family: "lobsterTwo", "LobsterRegular";
		}
		.shippingDesc{
			color: #999;
			font-size: 14px;
			letter-spacing: -.2px;
			position: relative;
			top: 5px;
		}
	}
}



.cartWrap{
	text-align: center;
	flex-shrink: 1;
	background: $blueColor;
	position: relative;
	color: #fff;
	width: 170px;
	.fa-shopping-cart{
		font-size: 24px;
		display: block;
	}
	.cartHeader{
		display: block;
		font-size: 14px;
		font-family: "RalewayBlack";
		text-transform: uppercase;
		line-height: 30px;
	}
	.goodsNumber{
		display: block;
		font-size: 12px;
	}
	.cartMainDiv{
		padding: 19px 0;
		
	}
	

	.socialMenu{
		width: 100%;
		background: #414141;
		height: 50px;
		position: absolute;
		top: 100%;
		z-index: 51;
		.socMenuList{
			text-align: center;
			z-index: 100;
			.socMenuItem{
				display: inline-block;
				vertical-align: middle;
				line-height: 50px;
				a{
					color: #b6b6b6;
					margin: 0 4px;
					&:hover{
						color: $blueColor;
					}
				}
			}
		}
	}

	/*popup window*/
	.cartPopup{
		z-index: 100;	
		position: absolute;
		right: 0px;
		top: 100%;
		box-shadow: 0 0 6px rgba(0,0,0,.35); 
		background: #fff;
		width: 360px;
		padding: 17px;
		display: none;
		.addedItems{
			font-size: 12px;
			color: #484848;
			text-align: left;
			text-transform: capitalize;
		}
		.cartItems{
				border-top: 1px solid #dadada;
				margin: 12px 0;
			.cartItem1{
				border-bottom: 1px solid #dadada;
				padding: 14px 0;
				font-size: 0;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;

				.itemImg{
					border: 1px solid #dadada;
					width: 90px;
					height: 90px;
					img{
						width: 100%;
					}

				}
				.itemDisc{
					text-align: left;
					flex-basis: 55%;
					.itemHeader{
						font-size: 14px;
						font-family: "RalewayBlack";
						color: #484848;
						line-height: 25px;
						text-transform: uppercase;
					}
					.stars{
						margin: 0 0 8px 0;
						.fa-star{
							font-size: 12px;
						}
						.rewies{
							color: #999;
							font-size: 12px;
							margin: 0 0 0 15px;
						}
					}
					.priceAndNum{
						.price{
							@extend .redPrice;
							display: inline-block;
							vertical-align: middle;
						}
						.qty{
							color: #999;
							display: inline-block;
							vertical-align: middle;
							font-size: 12px;
							margin: 0 6px 0 30px;
						}
						.itemNum{
							background: #f2f2f2;
							width: 50px;
							height: 40px;
							border: 1px solid #dadada;
							display: inline-block;
							vertical-align: middle;
							font-size: 14px;
							color: #484848;
							text-align: center;
							line-height: 40px;
						}
					}
				}
				.cartItemControl{
					color: #c5c5c5;
					font-size: 14px;
					.fa-pencil{
						margin: 0 5px 0 0;
					}
					.fa{
						cursor: pointer;
					}
				}
			}/*cartItem1*/
		}/*cartItems*/
		.total{
			text-align: left;
			border-bottom: 1px solid #dadada;
			padding: 0 0 15px 0;
			margin: 0 0 15px 0;
			.cartTotalText{
				font-size: 12px;
				color: #484848;
				display: inline-block;
				vertical-align: middle;
				margin: 0 34px 0 0;
			}
			.cartTotal{
				font-family: "OpenSansBold";
				color: $blueColor;
				font-size: 16px;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.cartBtns{
			font-size: 0;
			.cartBtn{
				color: #fff;
				background: $blueColor;
				text-transform: uppercase;
				font-size: 14px;
				font-family: "RalewayBlack";
				display: inline-block;
				vertical-align: middle;
				width: 170px;
				height: 37px;
				line-height: 37px;
				&:hover{
					background: #1986ae;
				}
			}
			.fa{
				font-size: 14px;
				display: inline-block;
			}
			.viewBtn1{
				margin: 0 20px 0 0;
			}
		}

	}

} 






/*
1.3. mainMenuLine
___________________________________________________________*/


.mainMenuLine{
	background-color: rgba(22,22,22,.9);
	width: 100%;
	z-index: 50;
	position: absolute;
	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;	
	}
	.mainMenuNav{
		flex-basis: 100%;

		.mainMenuList{
			width: 100%;
			font-size: 0px;
			.active{
				background: $blueColor !important;
			}
			.mainMenuItem{
				display: inline-block;
				vertical-align: middle;
				position: relative;
				>a{
					color: #fff;
					font-size: 14px;
					font-family: "RalewayBlack";
					text-transform: uppercase;
					padding: 17px 24px;
					line-height: 24px;
					&:hover{
						background: $blueColor;
					}
				}
				.home{
					font-size: 24px;
					padding: 13px 24px;
				}
				.features{
					padding: 17px 24px 17px 30px;
				}
				.livingRoom{
					padding: 17px 24px 17px 15px;
				}
				.badrooms{
					padding: 17px 24px 17px 18px;
				}

				.blog{
					padding: 17px 35px 17px 33px;
				}
				.contactUs{
				}
			}
	


			.badroomsMenuItem{
				&:hover{
					.badrooms{
						&::after{
							content:"";
							width: 0;
						}
					}
				}
			}
		}
	}
	

	/*subMenu*/

	.subMenuBadroomsWrap{
		display: none;	
		z-index: 99;	
		position: absolute;
		left: 0px;
		top: 37px;
		box-shadow: 0 0 6px rgba(0,0,0,.35); 
		background: #fff;
		max-width: 820px;
		box-sizing: border-box;
		.flexWrap{
			@extend .flex;
			box-sizing: border-box;
		}	
		
		.subMenuBadrooms{
			flex-basis: 195px;
			padding: 30px 25px 0 30px;
			background: #f2f2f2;
			.firstSubMenuItem{
				@extend .headerTemp;
			}
			.subMenuItem{
				color: #494949;
				padding: 10px 0;
				display: block;
				&:hover{
					color: $blueColor;
				}
			}

		}
		.goods{
			margin: 30px;
			width: 270px;
			height: 420px;
			border: 1px solid #dadada;
			text-align: center;
			position: relative;
			img{
				width: 100%;
			}
			.goodsHeader{
				@extend .headerTemp;
				margin: 5px 0 0 0;
			}
			&:last-child{
				margin: 30px 30px 30px 0;
			}
			.fa-star{
				margin: 10px 0;
			}
			.oldPrice{
				margin: 0 10px 0 0 ;
			}
			.bottomLinks{
				width: 100%;
				padding: 16px;
				box-sizing: border-box;
				border-top: 1px solid #dadada;
				position: absolute;
				bottom: 0;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				.fa{
					color: #999;
				}
				.btn{
					color: $blueColor;
					text-transform: uppercase;
					font-family: "RalewayBlack";
				}

			}
		}
	} /*subMenuBadroomsWrap*/

}

.livingroomMenuSubmenuWrap{
	display: none;
	z-index: 90;	
	position: absolute;
	left: 0px;
	top: 37px;
	box-shadow: 0 0 6px rgba(0,0,0,.35); 
	background: #fff;	
	padding: 35px 30px 30px 30px;
	box-sizing: border-box;
	.livingroomSubmenu{
		width: 100%;
		@extend .flex;
		justify-content: flex-start;
		.livingroomSubmenuItem{
			flex-basis: 33%;
		}
	}
	a{
		display: block;
		padding: 10px 0;
		color: #494949;
		&:hover{
			color: $blueColor;
		}
	}
	.banner{
		width: 720px;
		margin: 20px 0 0 0;
		img{
			width: 100%;
		}
	}
}	


.featuresMenuSubmenuWrap{
	display: none;
	position: absolute;
	left: -70px;
	top: 37px;
	box-shadow: 0 0 6px rgba(0,0,0,.35); 
	background: #fff;
	.flexWrap{
		padding: 30px 15px 35px 15px;
		box-sizing: border-box;
		@extend .flex;	
		flex-wrap: wrap;
		.featuresMenuSubmenuItem{
			display: block;
			flex-basis: 20%;
			&:nth-child(1){
				margin: 0 0 40px 0;
			}
			.headerTemp{
				margin: 0 5px 10px 5px;
			}
			.featuresSMTextItem{
				display: inline-block;
				padding: 5px 0;
				color: #494949;
				&:hover{
					color: $blueColor;
				}
			}
		}
	}
	/*colorPickers*/
	.brown{
		display: inline-block;
		width: 10px;
		height: 10px;
		background: #925829;
		margin: 0 5px 0 0;
	}
	.red{
		display: inline-block;
		width: 10px;
		height: 10px;
		background: #f64b00;
		margin: 0 5px 0 0;
	}
	.green{
		display: inline-block;
		width: 10px;
		height: 10px;
		background: #80a439;
		margin: 0 5px 0 0;
	}
	.orange{
		display: inline-block;
		width: 10px;
		height: 10px;
		background: #e9a105;
		margin: 0 5px 0 0;
	}
	.blue{
		display: inline-block;
		width: 10px;
		height: 10px;
		background: #03a9f4;
		margin: 0 5px 0 0;		
	}

}



/*sendwich*/


.menu768{
	display: none;
	vertical-align: middle;
	position: relative;
}

.sandwich{
  width: $w;
  height: $w;
  padding: 15px 0 5px 20px;
  &:hover{
	.sw-topper,
	.sw-bottom,
	.sw-footer{
		background: $blueColor;
		box-shadow: 0 0 6px rgba(0,0,0,.35);
	}
  } 
} 




.sw-topper{
	position: relative;
	top: 0;
	width: $w;
	height: $h;
	background: #fff;
	border: none; 
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s, top 0.2s;
	 transition-delay: 0.2s, 0s; 
}



.sw-bottom{
	position: relative;
	width: $w;
	height: $h;
	top: $h * 2;
	background: #fff;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s; 
}

.sw-footer{
	position: relative;
	width: $w;
	height: $h;
	top: $h * 4;
	background: #fff;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s;
	transition-delay: .1s; 
}

.sandwich.swich{

  .sw-topper{
	top: 12px;
	transform: rotate(140deg);
  }
  .sw-bottom{
	top: 9px;
	transform: rotate(-140deg);
  }
  .sw-footer{
	opacity: 0;
	top: 0;
	transform: rotate(180deg);
  }
}





/*1.4. slider
___________________________________________________________*/


.slider{
	width: 100%;
	position: relative;
}

.slideImg{
	width: 100%;
	min-height: 400px;
}

.slideInfo{
	width: 505px;
	height: 180px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 0;
	.compNameLeftWrap{
		text-align: left;
	}
	.compName{
		font-family: "RalewaySemiBold";
		color: #e4d16b;
		font-size: 48px;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: top;
		padding: 0 15px 0 0;
		line-height: 36px;
	}


	
	.sliderHead{
		font-family: "RalewayExtraBold";
		color: #fff;
		font-size: 80px;	
		text-transform: uppercase;
		margin: 13px 0 23px 0;
	}
	.compDesc{
		display: inline-block;
		width: 140px;
		vertical-align: top;
		font-family: "RalewaySemiBold";
		color: #fff;
		font-size: 14px;
		border-left: 3px solid #fff;
		line-height: 18px;
		letter-spacing: -.5px;
		padding: 0px 0 0 12px;
	}

	.firstSlideCompName{
		border-right: 0px;
	}
	
	.shopBtn{
		font-size: 14px;
		color: #fff;
		font-family: "OpenSansBold";
		display: inline-block;
		margin: 0 auto;
		text-transform: uppercase;
		border: 1px solid #fff;
		padding: 15px 23px;
		text-align: center;
	}
}



/*pagination*/
.owl-controls{
	position: absolute;
	bottom: 60px;
	left: 0;
	right: 0;
	.owl-pagination{
		.owl-page{
			span{
				background: #fff !important;
				opacity: 1 !important;
			}
		}
		.active{
			background: rgba(0,0,0,.0) !important;
			span{
				background: #beae59 !important;
			}	
		}
	}


	.owl-buttons{
		.owl-prev{
			background: rgba(0,0,0,.0) !important;
			opacity: 1 !important;
			i{
				position: absolute;
				font-size: 100px;
				left: 50px;
				top: -450%;
				&:hover{
					color: $blueColor;
					text-shadow: 1px 0 1px rgba(255,255,255,.5);
				}
			}
		}
		.owl-next{
			background: rgba(0,0,0,.0) !important;
			opacity: 1 !important;
			i{
				position: absolute;
				font-size: 100px;
				right: 50px;
				top: -450%;
				&:hover{
					color: $blueColor;
					text-shadow: -1px 0 1px rgba(255,255,255,.5);
				}
			}
		}
	}


}




/*===========================================================

2. main
============================================================*/


.main{
}

.greyWrap{
	background: #eee;
	margin: -3px 0 0 0;
	.container{
		position: relative;
		top: -60px;
	}
}
/*============================================================*/
/*2.1. dealsSaleProducts*/
/*============================================================*/

.dealsSaleProducts{
	@extend .flex;
	width: 100%;
	background: #fff;
	/*margin: -60px 0 2px 0;*/
	z-index: 50;
}


/*2.1.1. deals*/
/*___________________________________________________________*/


.deals{
	background: $blueColor;
	padding: 28px 0 25px 0;
	flex-basis: 320px;
	box-sizing: border-box;
}
.dealsHeader{
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	margin: 0 0 27px 0;
	padding: 0 30px;
	.strong{
		font-size: 20px;
	}
}
.ourDeals{
	padding: 30px 27px 0px 27px;
	border-top: 1px solid #1581a9;
	font-size: 0;
	line-height: 0;
	.dealsText{
		color: #fff;
		font-size: 12px;
		line-height: 20px;
		margin: 0 0 26px 0;
	}
	.imgSection{
		width: 130px;
		height: 130px;
		display: inline-block;
		position: relative;
		z-index: 0;
		img{
			width: 100%;
			height: 100%;
		}
		&:hover{
			z-index: 100;
			box-shadow: -9px 9px 10px rgba(0,0,0,.15);
		}	
	}
}



/*2.1.2. salesAndProducts*/

.salesAndProducts{
	flex-basis: 70%;
	@extend .flex;

}




/*2.1.2.1. sale*/
/*___________________________________________________________*/

.sale{
	background: #fff;
	flex-basis: 61%;
	.saleDate{
		padding: 28px 0 0 0;
		display: inline-block;
		vertical-align: top;
		z-index: 10;
		position: relative;
		p{
			color: #ff5722;
			font-family: "OpenSansBold";
			font-size: 16px;
			display: block;
			width: 53px;
			height: 47px;
			text-align: center;
			border: 1px solid #ddd;
			padding: 9px 0 0 0;
			box-sizing: border-box;
			border-bottom: none;
			&:last-child{
				border-bottom: 1px solid #ddd;
			}
			span{
				font-size: 9px;
				color: #777;
				text-transform: uppercase;
				display: block;
			}
		}
	}
	.goodImg{
		display: inline-block;
		vertical-align: top;
		position: relative;
		left: -13px;
		z-index: 5;
		img{
			width: 100%;
		}
		.saleIcon{
			position: absolute;
			right: -60px;
			top: 20px;
		}
	}
	.goodBottom{
		@extend .flex;
		.goodDisc{
			.goodName{
				display: block;
				color: #484848;
				text-transform: uppercase;
				font-family: "RalewayBlack";
				margin: 0 0 8px 0;
				cursor: pointer;
				letter-spacing: -.5px;
				&:hover{
					color: $blueColor;
				}
			}
			.oldPrice{
				font-family: "OpenSansRegular";
				margin: 0px 12px 0px 0;
			}
			.stars{
				margin: 15px 0 0 0;
				font-size: 12px;
			}
		}
		.pagination{
			a{
				display: inline-block;
				text-align: center;
				line-height: 35px;
				width: 35px;
				height: 35px;
				background: #fff;
				color: #9d9d9d;
				font-size: 22px;
				border: 1px solid #ddd;
				&:hover{
					background: $blueColor;
					border: 1px solid $blueColor;
					color: #fff;
				}
			}
		}
	}

}





/*2.1.2.2. products*/
/*___________________________________________________________*/


.products{
	flex-basis: 285px;
	border-left: 1px solid #ddd;
	z-index: 10;
}
.productsBlockHeader{
	font-size: 20px;
	color: #484848;
	margin: 30px 0 31px 20px;
	.black{
		font-size: 20px;
	}
}
.productArticle{
	width: 100%;
	border-top: 1px solid #ddd;
	padding: 19px 20px;
	box-sizing: border-box;
	.imgWrap{
		border: 1px solid #ddd;
		width: 90px;
		height: 90px;
		display: inline-block;
		vertical-align: top;
		margin: 0 13px 0 0;
		img{
			width: 100%;
		}
	}
	.productDisc{
		display: inline-block;
		vertical-align: top;
		padding: 5px 0 0 0;
		.productHeader{
			color: #484848;
			letter-spacing: -.4px;
		}
		.stars{
			font-size: 12px;
			margin: 7px 0 7px 0;
		}

	}
	.last{
		padding: 0;
	}
	&:hover {
		.imgWrap {
			border: 1px solid $blueColor;
		}
		.productDisc .productHeader{
			color: $blueColor;
		}
	}
}








/*============================================================*/
/*2.2. bannersBlock*/
/*============================================================*/

.bannersBlock{
	margin: -60px 0 0 0;
	.flexWrap{
		@extend .flex;
	}
}
.overflow{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(255,255,255,.25);
	display: none;
	z-index: 10;
}
.bannerImg{
	flex-basis: 100%/3;
	position: relative;
	margin: -3px 0 0 0;
	.imgWrap{
		img{
			width: 100%;
			height: 100%;
		}
	}
	&:hover{
		.overflow{
			display: block;
		}		
	}
}
.textNode{
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 300px;
	font-size: 0;
	.blockHeader{
		color: #43474a;
		font-size: 30px;
		letter-spacing: -.5px;
	}

	.headSpan{
		font-size: 30px;
		letter-spacing: -.5px;
	}
	.anotherBlue{
		color: #06a3d8;
		font-family: "RalewayBold";
	}
	.red{
		color: #ef1c25;
		font-family: "RalewayBold";
	}
	.textDisc{
		font-size: 16px;
		color: #43474a;
		line-height: 18px;
		letter-spacing: -.1px;
	}
	.discSpan{
		font-size: 16px;
		color: #43474a;
	}
	.center{
		text-align: center;
	}

}
.first{
	width: 265px;
}






/*============================================================*/
	/*2.3. feauteredProduct*/
/*============================================================*/

.feauteredProduct{
	background: #fff;
	padding: 0 0 25px 0;
}
.sectionWrap{
	text-align: center;
	.sectionHeader{
		font-size: 20px;
		line-height: 37px;
		border-top: 1px solid #444;
		border-bottom: 1px solid #444;
		display: inline-block;
		margin: 48px 0 16px 0;
	}

	.sectionHeaderSpan{
		font-size: 20px;
	}

	.slideItom{
		border: 1px solid #ddd;
		margin: 15px;
		.imgWrap{
			width: 100%;
			margin: 0 0 16px 0;
			position: relative;
			.overflow{
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(255,255,255,.5);
				display: none;
				.fa-search{
					background: rgba(0,0,0,.5);
					border-radius: 50%;
					position: absolute;
					display: block;
					width: 70px;
					height: 70px;
					line-height: 70px;
					text-align: center;
					color: #fff;
					font-size: 18px;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					&:hover{
						background: $blueColor;
					}
				}
			}
			img{
				width: 100%;
			}
		}
		.slideGoodsLink{
			color: #484848;
			margin: 10px 0;

		}
		.stars{
			font-size: 12px;
			margin: 15px 0 10px 0;
		}
		.oldPrice{
			margin: 0 10px 0 0;
		}
		.redPrice{
			margin: 0 0 25px 0;
		}

		.addToCart{
			border-top: 1px solid #ddd;
			line-height: 45px;
			@extend .flex;
			.fa{
				color: #999;
			}
			.comparePopup{
				display: none;
			}
			.addLink,
			.fa{
				position: relative;
				line-height: 45px;
				padding: 0 15px;
				&:hover{
					color: #fff;
					background: $blueColor;
					.comparePopup{
						display: block;
					}
				}
			}
		}
		.saleIcon{
			top: 20px;
			right: 20px;
		}
		.newIcon{
			top: 20px;
			left: 20px;	
		}
		&:hover{
			.overflow{
				display: block;
			}
			.slideGoodsLink{
				color: #beae59;
			}
			.addToCart{
				.addLink{
					color: #c7ba71;
					&:hover{
						color: #fff;
					}
				}
			}
		}
	}

	/*owlControls*/
	.owl-controls{
		margin: 0px;
		.owl-buttons{
			width: 0px;
			height: 0px;
		}
	}
	.owl-prev{
		.fa-angle-left{
			color: #9d9d9d !important;
			font-size: 25px !important;
			display: block;
			width: 35px; 
			height: 35px;
			line-height: 35px;
			top: -165px !important;
			left: 14px !important;
			border: 1px solid #ddd;
			&:hover{
				background: $blueColor;
				color: #fff !important;
			}
		}
	}
	.owl-next{
		.fa-angle-right{
			color: #9d9d9d !important;
			font-size: 25px !important;
			display: block;
			width: 35px; 
			height: 35px;
			line-height: 35px;
			top: -165px !important;
			right: 13px !important;
			border: 1px solid #ddd;
			&:hover{
				background: $blueColor;
				color: #fff !important;
			}
		}

	}

}








/*============================================================*/
/*2.4. adventages*/
/*============================================================*/
.adventages{
	margin: 0 0 40px 0;
}

.flexWrap{
	@extend .flex;

	.adv{
		flex-basis: (100%/3);
		background: #49ccf3;
		padding: 23px;
		font-size: 0;
		box-sizing: border-box;
		position: relative;
		.imgWrap{
			display: inline-block;
			vertical-align: middle;
			width: 95px;
			height: 95px;
			border-radius: 50%;
			box-shadow: 0px 0px 6px rgba(0,0,0,.15);
			img{
				width: 100%;
				height: 100%;
			}
		}
		.textWrap{
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 0 15px;
			.advHeader{
				font-size: 16px;
				text-transform: uppercase;
				color: #fff;
				line-height: 28px;
			}
			.advTextNode{
				font-family: "RalewayRegular";
				display: block;
				font-size: 12px;
				color: #fff;
				letter-spacing: -.3px;
			}
		}
		
	}
	.lastAdv{
		padding: 23px 23px 24px 61px;	
	}
	.navyBlue{
		background: #13b5e6;
		&::before{
			content: ''; 
			display: block;
		    position: absolute;
		    left: -109px; 
		    top: 0px;
		    border: 71px solid transparent;
		    border-right: 40px solid #13b5e6;
		    z-index: 1;
		}
		&::after{
			content: ''; 
			display: block;
		    position: absolute;
		    right: -109px; 
		    top: 0px;
		    border: 71px solid transparent;
		    border-left: 40px solid #13b5e6;
		    z-index: 1;
		}
	}

}
