/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1170px) {

	.container{

		.searchWrap{
			margin: 31px 0px 0 20px;
			width: 40%;
		}

		.shippingWrap{
			margin: 30px 0px 0 5px;
			width: 25%;
		}

		.cartWrap{
			.cartHeader{
				font-size: 14px;
				line-height: 25px;
			}
		} 
		
	}
	.mainMenuLine{
		.container{
			.mainMenuNav{
				.mainMenuList{
					.mainMenuItem{
						.home{
							padding: 13px 14px;
						}
						.features{
							padding: 17px 14px;
						}
						.livingRoom{
							padding: 17px 14px;
						}
						.badrooms{
							padding: 17px 14px;
						}

						.blog{
							padding: 17px 14px;
						}
						.contactUs{
							padding: 17px 14px;
						}
					}

					.badroomsMenuItem{
						.subMenuBadroomsWrap{
							.subMenuBadrooms{
								width: 160px;
								padding: 10px;
							}
							.goods{
								margin: 10px;
								width: 230px;
								height: 400px;
								&:last-child{
									margin: 10px 10px 10px 0;
								}
							}
						} 
					}
				}
			}
		}
	}	

	.container{
		.featuresMenuSubmenuWrap{
			left: -50px;
		}
	}


/*===========================================================

2. main
============================================================*/


.main{
	background: #eee;
}

.container{
	position: relative;
	top: 0px !important;

/*============================================================*/
/*2.1. dealsSaleProducts*/
/*============================================================*/

.dealsSaleProducts{
	width: 100%;
	margin: -5px 0 0 0;
}


/*2.1.1. deals*/
/*___________________________________________________________*/


.deals{
	padding: 28px 0;
	flex-basis: 280px;
}
.dealsHeader{
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	margin: 0 0 15px 0;
	padding: 0 10px;
	.strong{
		font-size: 20px;
	}
}
.ourDeals{
	padding: 20px 10px 0px 10px;
	border-top: 1px solid #1581a9;
	font-size: 0;
	line-height: 0;
	.dealsText{
		font-size: 12px;
		line-height: 20px;
		margin: 0 0 26px 0;
	}
	.imgSection{
		display: inline-block;
		position: relative;
		z-index: 0;
		&:hover{
			z-index: 100;
			box-shadow: -9px 9px 10px rgba(0,0,0,.15);
		}	
	}
}



/*2.1.2. salesAndProducts*/

.salesAndProducts{
	flex-basis: 70%;

}




/*2.1.2.1. sale*/
/*___________________________________________________________*/

.sale{
	flex-basis: 61%;
	.saleDate{
		padding: 28px 0 0 0;
		display: inline-block;
		vertical-align: top;
		z-index: 10;
		position: relative;
		p{
			font-size: 16px;
			display: block;
			width: 53px;
			height: 47px;
			padding: 9px 0 0 0;
			span{
				font-size: 9px;
			}
		}
	}
	.goodImg{
		width: 300px;
		position: relative;
		left: -13px;
		z-index: 5;
		.saleIcon{
			position: absolute;
			right: -30px;
			top: 20px;
		}
	}
	.goodBottom{
		.goodDisc{
			.goodName{
				margin: 0 0 8px 0;
				letter-spacing: -.5px;
			}
			.oldPrice{
				margin: 0px 12px 0px 0;
			}
			.stars{
				margin: 15px 0 0 0;
				font-size: 12px;
			}
		}
		.pagination{
			a{
				line-height: 35px;
				width: 35px;
				height: 35px;
				font-size: 22px;
			}
		}
	}

}





/*2.1.2.2. products*/
/*___________________________________________________________*/


.products{
	flex-basis: 260px;
}
.productsBlockHeader{
	font-size: 20px;
	margin: 30px 0 10px 20px;
	.black{
		font-size: 20px;
	}
}
.productArticle{
	width: 100%;
	padding: 15px 15px;
	.imgWrap{
		width: 90px;
		height: 90px;
		margin: 0 7px 0 0;
	}
	.productDisc{
		padding: 0;
		.productHeader{
			letter-spacing: -.4px;
			margin: 5px 0 7px 0;
		}
		.last{
			margin: 0px 0 7px 0;
		}
		.stars{
			font-size: 12px;
			margin: 0 0 7px 0;
		}
	}
}

}



/*============================================================*/
/*2.2. bannersBlock*/
/*============================================================*/
.bannersBlock{
	margin: 0 !important;
}






/*============================================================*/
/*2.4. adventages*/
/*============================================================*/
.adventages{
.container{
	
.flexWrap{
	.adv{
		flex-basis: (100%/3);
		padding: 15px 0 15px 15px;
		.imgWrap{
			width: 95px;
			height: 95px;
		}
		.textWrap{
			margin: 0 0 0 10px;
			.advHeader{
				font-size: 14px;
				line-height: 20px;
			}
			.advTextNode{
				width: 70%;
				font-size: 12px;
				color: #fff;
				letter-spacing: -.3px;
			}
		}
		
	}
	.lastAdv{
		padding: 15px 15px 15px 51px;	
	}
	.navyBlue{
		&::before{
		    left: -100px; 
		    border: 62px solid transparent;
		    border-right: 40px solid #13b5e6;
		}
		&::after{
		    right: -100px; 
		    top: 0px;
		    border: 62px solid transparent;
		    border-left: 40px solid #13b5e6;
		}
	}

}

}

}



















}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {




/*============================================================*/
/*1.1. topLine
/*============================================================*/
.container{

.topLine{
	&__left{
		flex: 1 1 90%;

	}
	&__right{
		flex: 1 1 10%;
	}
	&__link{
		padding: 5px 15px;
		&_target{
			&:after{
				margin: 0 0 0 3px;				
			}
			
		}
	}
	&__hide{
		display: none;
	}
}
}



	.hide992{
		display: none;
	}
	.hideAll992{
		display: none;	
	}

	.container{
		.rightPanel{
			.chatWrap{
				padding: 0 15px 0 0;
			}
		}
	}

	.container{

		.furnitureWrap{

			.furnitureHeader{
				font-size: 25px;
			}

			.furnitureWrapDescription{
				font-size: 11px;
				letter-spacing: 2px;
			}

		}


		.searchWrap{
			margin: 31px 0px 0 10px;
			width: 35%;
			.searchBtn{
				width: 75px;
			}
		}

		.shippingWrap{
			margin: 30px 0px 0 5px;
			width: 25%;
			.fa-truck{
				font-size: 20px;
				margin: 0 5px 0 0;
			}
			.shippingText{
				.shippingHeader{
					font-size: 15px;
				}
				.shippingDesc{
					font-size: 12px;
				}
			}
		}

		.cartWrap{
			width: 150px;
			.cartHeader{
				font-size: 12px;
				line-height: 25px;
			}
		}


		.livingroomMenuSubmenuWrap{
			padding: 15px 10px 10px 10px;
			.livingroomSubmenu{
				.livingroomSubmenuItem{
					flex-basis: 33%;
				}
			}
			a{
				padding: 5px 0;
			}
			.banner{
				width: 520px;
				margin: 10px 0 0 0;
			}
		}	
	



	}

/*1.4. slider
___________________________________________________________*/

	.slider{

		.slideInfo{
			width: 380px;
			height: 180px;
			.compName{
				font-size: 35px;
				padding: 0 15px 0 0;
				line-height: 30px;
			}

			.sliderHead{
				font-size: 60px;	
				margin: 13px 0 23px 0;
			}
			.compDesc{
				width: 140px;
				font-size: 12px;
				line-height: 18px;
				letter-spacing: -.5px;
				padding: 0px 0 0 12px;
			}

			.shopBtn{
				font-size: 12px;
				padding: 10px 15px;
			}
		}

		/*pagination*/
		.owl-controls{
			bottom: 20px;
			.owl-buttons{
				.owl-prev{
					i{
						font-size: 70px;
						left: 50px;
						top: -250%;
					}
				}
				.owl-next{
					i{
						font-size: 70px;
						right: 50px;
						top: -250%;
					}
				}
			}
		}

	}

/*===========================================================

2. main
============================================================*/


.main{
	background: #eee;
}

.container{
	position: relative;

/*============================================================*/
/*2.1. dealsSaleProducts*/
/*============================================================*/

.dealsSaleProducts{
	width: 100%;
	flex-wrap: wrap;
}


/*2.1.1. deals*/
/*___________________________________________________________*/


.deals{
	padding: 28px 0;
	flex-basis: 100%;
	text-align: center;

}
.dealsHeader{
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 15px 0;
	padding: 0 10px;
	.strong{
		font-size: 20px;
	}
}
.ourDeals{
	/*width: 70%;*/
	padding: 10px 0;
	margin: 0 auto;
	border-top: 1px solid #1581a9;
	font-size: 0;
	line-height: 0;
	.dealsText{
		font-size: 12px;
		line-height: 20px;
		margin: 0 10px 26px 10px;
	}
	.imgSection{
		display: inline-block;
		position: relative;
		margin: 0 10px 0 0;
		&:hover{
			box-shadow: 0px 0px 10px rgba(0,0,0,.35);
		}	
		&:last-child{
			margin: 0;
		}
	}
}



/*2.1.2. salesAndProducts*/

.salesAndProducts{
	flex-basis: 100%;
}




/*2.1.2.1. sale*/
/*___________________________________________________________*/

.sale{
	flex-basis: 50%;
	margin: 0 auto;
	padding: 28px 0 20px 20px;
	.saleDate{
		display: inline-block;
		vertical-align: top;
		z-index: 10;
		position: relative;
		p{
			font-size: 16px;
			display: block;
			width: 53px;
			height: 47px;
			padding: 9px 0 0 0;
			span{
				font-size: 9px;
			}
		}
	}
	.goodImg{
		width: 300px;
		position: relative;
		left: -13px;
		z-index: 5;
		.saleIcon{
			position: absolute;
			right: -30px;
			top: 20px;
		}
	}
	.goodBottom{
		.goodDisc{
			.goodName{
				margin: 0 0 8px 0;
				letter-spacing: -.5px;
			}
			.oldPrice{
				margin: 0px 12px 0px 0;
			}
			.stars{
				margin: 15px 0 0 0;
				font-size: 12px;
			}
		}
		.pagination{
			a{
				line-height: 35px;
				width: 35px;
				height: 35px;
				font-size: 22px;
			}
		}
	}

}





/*2.1.2.2. products*/
/*___________________________________________________________*/


.products{
	flex-basis: 260px;
}
.productsBlockHeader{
	font-size: 20px;
	margin: 30px 0 10px 20px;
	.black{
		font-size: 20px;
	}
}
.productArticle{
	width: 100%;
	padding: 15px 15px;
	.imgWrap{
		width: 90px;
		height: 90px;
		margin: 0 7px 0 0;
	}
	.productDisc{
		.productHeader{
			letter-spacing: -.4px;
			margin: 5px 0 7px 0;
		}
		.last{
			margin: 0px 0 7px 0;
		}
		.stars{
			font-size: 12px;
			margin: 0 0 7px 0;
		}
	}
}

}









/*============================================================*/
/*2.4. adventages*/
/*============================================================*/
.adventages{
.container{
	
.flexWrap{
	.adv{
		flex-basis: (100%/3);
		padding: 15px 0 15px 10px;
		.imgWrap{
			width: 60px;
			height: 60px;
		}
		.textWrap{
			width: 65%;
			margin: 0 0 0 10px;
			.advHeader{
				font-size: 12px;
				line-height: 16px;
			}
			.advTextNode{
				font-size: 12px;
				color: #fff;
				letter-spacing: -.3px;
			}
		}
		
	}
	.lastAdv{
		padding: 15px 10px 15px 41px;	
	}
	.navyBlue{
		&::before{
		    left: -75px; 
		    border: 45px solid transparent;
		    border-right: 30px solid #13b5e6;
		}
		&::after{
		    right: -75px; 
		    top: 0px;
		    border: 45px solid transparent;
		    border-left: 30px solid #13b5e6;
		}
	}

}

}

}






/*============================================================*/

/*3. footer*/

/*============================================================*/

.footer{

}

.supportPanel{
	padding: 25px 0;
	.container{

		.flexWrap{
			flex-wrap: wrap;

			.textWrap{
				flex-basis: 100%;
				text-align: center;
				margin: 0 0 10px 0;
			}
			.headerNode{
				font-size: 18px;
				line-height: 25px;
			}
			.supportTextNode{
			}

			.supportFormWrap{
				flex-basis: 100%;
			}
			.formWrap{
				width: 450px;
				margin: 0 auto;
				.fa{
					padding: 0 8px;
					line-height: 42px;
					font-size: 18px;
					margin: 0 16px 0 0;
					&::after{
						height: 34px;
					}
				}
				#support{
					width: 60%;
				}
				.supportBtn{
					line-height: 40px;
					padding: 2px 10px;
				}
			}
		}
	}

}



/*============================================================*/
/*3.2. mainFooter*/
/*============================================================*/

.footer{

}


.mainFooter{
	position: relative;
	.footerBg{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.flexWrap{
		background: rgba(255,255,255,.08);
		height: auto;
	}

	.bottomInfo{
		padding: 25px 20px 0 20px;
		flex-basis: 25%;
		.firstElement{
			color: #fff;
			line-height: 40px;
			margin: 0 0 10px 0;
			position: relative;
			&::after{
				content: '';
				display: block;
				width: 40px;
				height: 3px;
			}
		}
		.mainFooterTextNode{
			color: #fff;
			line-height: 25px;
			.fa{
				margin: 0 5px 0 0;
				font-size: 12px;
			}
		}
	}
	.blueInfo{
		background: rgba(39,156,199,.35);
		.payWrap{
			flex-wrap: wrap;
			justify-content: flex-start;
			padding: 25px 0 5px 0;
			.payItom{
				margin: 0 15px 15px 0;
				a{
					width: 42px;
					height: 26px;
					display: block;
				}
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}











}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {





/*============================================================*/
/*1.1. topLine
/*============================================================*/
.container{

.topLine{
	flex-wrap: wrap;
	&__left{
		flex: 1 1 100%;
		justify-content: center;

	}
	&__right{
		flex: 1 1 100%;
		justify-content: center;
	}
	&__link{
		padding: 5px 15px;
		&_target{
			&:after{
				margin: 0 0 0 3px;				
			}
			
		}
	}
	&__hide{
		display: none;
	}
}
}




	.hide768{
		display: none;
	}

	.hide992{
		display: inline;
	}
	.container{
		.rightPanel{
			margin: 10px 0 0 0;
		}
	}
	.header{
		.logInPanel{
			.container{
				flex-wrap: wrap;
				justify-content: center;
			}
		}
	}


	#headLine{
		.container{
			flex-wrap: wrap;


			.furnitureWrap{
				width: 30%;
				order: 2;
			}
			.searchWrap{
				width: 100%;
				margin: 10px 30px;
				order: 1;
				.searchForm{
					margin: 0 auto;
				}
				&::after{
					content: "";
					width: 0px;
				}
			}

			.shippingWrap{
				width: 35%;
				order: 3;
			}

			.cartWrap{
				width: 25%;
				order: 4;
			}

		}
	}

	.container{
		.livingroomMenuSubmenuWrap{
			padding: 10px;
			width: 180px;
			.livingroomSubmenu{
				justify-content: center;
				flex-wrap: wrap;
				.livingroomSubmenuItem{
					flex-basis: 100%;
					border-bottom: 1px solid #dadada;
					padding: 10px 0;
				}
			}
		}





		.menu768{
			display: inline-block;
		}
	
	}


	.mainMenuLine .container .mainMenuNav .mainMenuList {
		.mainMenuItem{
			display: none;
			width:120px;
			.home{
				padding: 5px;
				width: 120px;
				display: block;
				box-sizing: border-box;
				font-size: 16px;
			}
			.features{
				padding: 5px;
				width: 120px;
				display: block;
				box-sizing: border-box;
				font-size: 12px;
			}
			.livingRoom{
				padding: 5px;
				width: 120px;
				display: block;
				box-sizing: border-box;
				font-size: 12px;
			}
			.badrooms{
				padding: 5px;
				width: 120px;
				display: block;
				box-sizing: border-box;
				font-size: 12px;
			}

			.blog{
				padding: 5px;
				width: 120px;
				display: block;
				box-sizing: border-box;
				font-size: 12px;
			}
			.contactUs{
				padding: 5px;
				width: 120px;
				display: block;
				box-sizing: border-box;
				font-size: 12px;
			}


			.subMenuBadroomsWrap{
				left: 100%;
				top: 0px;
				.subMenuBadrooms{
					padding: 10px 10px 0 10px;
					.firstSubMenuItem{
						font-size: 12px;
					}
					.subMenuItem{
						padding: 5px 0;
						letter-spacing: -.5px;
					}

				}
			}

			.livingroomMenuSubmenuWrap{
				left: 100%;
				top: 0px;
				padding:  0 10px;
				width: 400px;
				.livingroomSubmenu{
					flex-wrap: nowrap;
					.livingroomSubmenuItem{
						border-bottom: none;
						margin: 0 10px;
						flex-basis: 33%;
						.headerTemp{
							font-size: 12px;
						}
					}
				}
				a{
					padding: 5px 0;
					letter-spacing: -.5px;
				}
				.banner{
					display: none;
				}
			}	


			.featuresMenuSubmenuWrap{
				left: 100%;
				top: 0px;
				.flexWrap{
					width: 400px;
					padding: 10px;
					flex-wrap: wrap;
					.featuresMenuSubmenuItem{
						margin: 0 0 10px 0;
						display: block;
						flex-basis: 33%;
						&:nth-child(1){
							margin: 0 0 10px 0;
						}
						.headerTemp{
							margin: 0 5px 5px 5px;
							font-size: 12px;
						}
						.featuresSMTextItem{
							padding: 3px 0;
							letter-spacing: -.5px;
						}
					}
				}
			}

		}
		.active{
			padding: 0px;
			width: 120px;
			box-sizing: border-box;
		}

	}


/*1.4. slider
___________________________________________________________*/
	.slider{
		.slideInfo{
			width: 280px;
			height: 120px;
			.compName{
				font-size: 30px;
				padding: 0 10px 0 0;
				line-height: 20px;
			}

			.sliderHead{
				font-size: 45px;	
				margin: 10px 0 15px 0;
			}
			.compDesc{
				width: 80px;
				font-size: 10px;
				line-height: 15px;
				letter-spacing: -.5px;
				padding: 0px 0 0 10px;
			}

			.shopBtn{
				font-size: 12px;
				padding: 8px 12px;
			}
		}

		/*pagination*/
		.owl-controls{
			bottom: 40px;
			.owl-buttons{
				.owl-prev{
					i{
						font-size: 70px;
						left: 20px;
						top: -350%;
					}
				}
				.owl-next{
					i{
						font-size: 70px;
						right: 20px;
						top: -350%;
					}
				}
			}
		}

	}


/*===========================================================

2. main
============================================================*/

.container{
	position: relative;

/*============================================================*/
/*2.1. dealsSaleProducts*/
/*============================================================*/

.dealsSaleProducts{
	width: 100%;
	flex-wrap: wrap;
}


/*2.1.1. deals*/
/*___________________________________________________________*/


.deals{
	padding: 28px 0;
	flex-basis: 100%;
	text-align: center;

}
.dealsHeader{
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 15px 0;
	padding: 0 10px;
	.strong{
		font-size: 20px;
	}
}
.ourDeals{
	padding: 10px 0;
	margin: 0 auto;
	border-top: 1px solid #1581a9;
	font-size: 0;
	line-height: 0;
	.dealsText{
		font-size: 12px;
		line-height: 20px;
		margin: 0 0 26px 0;
	}
	.imgSection{
		width: 90px;
		height: 90px;
		display: inline-block;
		position: relative;
		margin: 0 10px 0 0;
		&:hover{
			box-shadow: 0px 0px 10px rgba(0,0,0,.35);
		}	
		&:last-child{
			margin: 0;
		}
	}
}



/*2.1.2. salesAndProducts*/

.salesAndProducts{
	flex-basis: 100%;
	flex-wrap: wrap;
}




/*2.1.2.1. sale*/
/*___________________________________________________________*/

.sale{
	flex-basis: 100%;
	padding: 20px;
	text-align: center;
	.saleDate{
		display: inline-block;
		vertical-align: top;
		z-index: 10;
		position: relative;
		p{
			font-size: 16px;
			display: block;
			width: 53px;
			height: 47px;
			padding: 9px 0 0 0;
			span{
				font-size: 9px;
			}
		}
	}
	.goodImg{
		width: 300px;
		position: relative;
		left: -13px;
		z-index: 5;
		.saleIcon{
			position: absolute;
			right: -30px;
			top: 20px;
		}
	}
	.goodBottom{
		.goodDisc{
			.goodName{
				margin: 0 0 8px 0;
				letter-spacing: -.5px;
			}
			.oldPrice{
				margin: 0px 12px 0px 0;
			}
			.stars{
				margin: 15px 0 0 0;
				font-size: 12px;
			}
		}
		.pagination{
			a{
				line-height: 35px;
				width: 35px;
				height: 35px;
				font-size: 22px;
			}
		}
	}

}





/*2.1.2.2. products*/
/*___________________________________________________________*/


.products{
	flex-basis: 100%;
	font-size: 0;
	padding: 20px 0 0 0;
	border-top: 2px solid #ddd;
}
.productsBlockHeader{
	font-size: 20px;
	margin: 10px;
	.black{
		font-size: 20px;
	}
}
.productArticle{
	width: 33%;
	padding: 3px;
	display: inline-block;
	border-top: none;
	border: 1px solid #ddd;
	border-left: none;
	&:first-child{
		border-left: 1px solid #ddd;

	}
	.imgWrap{
		width: 70px;
		height: 70px;
		margin: 0 2px 0 0;
	}
	.productDisc{
		.productHeader{
			font-size: 11px;
			letter-spacing: -.5px;
			margin: 5px 0 7px 0;
		}
		.last{
			margin: 0px 0 7px 0;
		}
		.stars{
			font-size: 12px;
			margin: 0 0 7px 0;
		}
	}
}

}






/*============================================================*/
/*2.2. bannersBlock*/
/*============================================================*/

.bannersBlock{
	.container{
		.flexWrap{
			background: #fff;
			padding: 10px 0 0 0;
			.textNode{
				top: 20px;
				width: 100%;
				text-align: center;
				.blockHeader{
					font-size: 16px;
					letter-spacing: -.5px;
				}

				.headSpan{
					font-size: 16px;
					letter-spacing: -.5px;
				}
				.textDisc{
					font-size: 10px;
					line-height: 14px;
					letter-spacing: -.1px;
				}
				.discSpan{
					font-size: 10px;
				}
			}
			.first{
				width: 100%;
			}


		}
	}
}







/*============================================================*/
/*2.4. adventages*/
/*============================================================*/
.adventages{
.container{
	
.flexWrap{
	/*flex-wrap: wrap;*/
	.adv{
		text-align: center;
		flex-basis: (100%/3);
		padding: 10px 0;
		.imgWrap{
			display: block;
			margin: 10px auto;
			width: 80px;
			height: 80px;
		}
		.textWrap{
			width: 100%;
			margin: 0;
			padding: 0;
			text-align: center;
			.advHeader{
				font-size: 16px;
				line-height: 20px;
			}
			.advTextNode{
				margin: 10px 0 0 0;
				font-size: 12px;
				color: #fff;
				letter-spacing: -.3px;
				width: 100%;
			}
		}
		
	}
	.lastAdv{
		padding: 10px 0;	
	}
	.navyBlue{
		&::before{
		    left: 0px; 
		    border: 0px solid transparent;
		    border-right: 0px solid #13b5e6;
		}
		&::after{
		    right: 0px; 
		    top: 0px;
		    border: 0px solid transparent;
		    border-left: 0px solid #13b5e6;
		}
	}

}

}

}






/*============================================================*/
/*3.2. mainFooter*/
/*============================================================*/

.footer{



.mainFooter{
	position: relative;
	.footerBg{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.flexWrap{
		background: rgba(255,255,255,.08);
		height: auto;
		flex-wrap: wrap;
	}

	.bottomInfo{
		padding: 10px;
		flex-basis: (100%/3);
		.firstElement{
			color: #fff;
			line-height: 40px;
			margin: 0 0 10px 0;
			position: relative;
			&::after{
				content: '';
				display: block;
				width: 40px;
				height: 3px;
			}
		}
		.mainFooterTextNode{
			color: #fff;
			line-height: 25px;
			font-size: 12px;
			.fa{
				margin: 0 5px 0 0;
				font-size: 12px;
			}
		}
	}
	.blueInfo{
		padding: 0 0 0 20px;
		flex-basis: 100%;
		background: rgba(39,156,199,.35);
		.payWrap{
			flex-wrap: wrap;
			justify-content: flex-start;
			padding: 25px 0 5px 0;
			.payItom{
				margin: 0 15px 15px 0;
				a{
					width: 42px;
					height: 26px;
					display: block;
				}
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}



}



/*============================================================*/

/*3.3 bottomLine*/

/*============================================================*/

.footer{

	

.bottomLine{
.container{
	padding: 25px 0 0 0;
	.flexWrap{
		.leftBlock{
			text-align: center;
			padding: 0px 0 10px 0;
		}
		.bottomLineText{
			font-size: 18px;
		}
		.ourApp{
			display: inline-block;
			margin: 10px 5px 0 5px;
		}
		.app-s{
			display: block;
			width: 100px;
			height: 32px;
		}

		

		.rightBlock{
			text-align: center;
			padding: 0px;
		}


		.socialPanel{
			.socPanelItem{
				width: 35px;
				height: 35px;
				margin: 10px 10px 0 0;
				.socPanelText{
					line-height: 35px;
				}
			}
		}

	}
}

}


}




















}

@media only screen and (max-width : 530px) {

	.logInPanel {
		
		.leftPanel .mainRightMenu{
		>li{
			margin: 0 2px;
			
			}
		}
		.big,
		.strong{
			font-size: 10px;
			letter-spacing: -1px;	
		}
		a{
			font-size: 10px;
			letter-spacing: -1px;
		}
	}
	
.container{
	.cartWrap{
		/*popup window*/
		.cartPopup{
			width: 300px;
			padding: 10px;
			.addedItems{
				font-size: 12px;
			}
			.cartItems{
					margin: 8px 0;
				.cartItem1{
					padding: 12px 0;
					.itemImg{
						width: 70px;
						height: 70px;
					}
					.itemDisc{
						flex-basis: 55%;
						.itemHeader{
							font-size: 14px;
						}
						.stars{
							margin: 0 0 5px 0;
							.rewies{
								margin: 0 0 0 10px;
							}
						}
						.priceAndNum{
							.qty{
								margin: 0 6px 0 20px;
							}
							.itemNum{
								width: 40px;
								height: 30px;
								line-height: 30px;
							}
						}
					}
				}/*cartItem1*/
			}/*cartItems*/
			.total{
				padding: 0 0 15px 0;
				margin: 0 0 15px 0;
				.cartTotalText{
					margin: 0 10px 0 0;
				}
			}
			.cartBtns{
				.cartBtn{
					width: 130px;
					height: 35px;
					line-height: 35px;
				}
				.viewBtn1{
					margin: 0 15px 0 0;
				}
			}

		}

	}		
}
	#headLine{
		.container{
			.furnitureWrap{
				width: 100%;
				text-align: center;
				order: 1;
				margin: 5px 0;
			}
			.searchWrap{
				width: 100%;
				margin: 5px 20px;
				order: 2;
			}

			.shippingWrap{
				width: 55%;
				order: 3;
			}

			.cartWrap{
				width: 40%;
				order: 4;
			}

		}
	}



	.mainMenuLine .container .mainMenuNav .mainMenuList {
		.mainMenuItem{
			.livingroomMenuSubmenuWrap{
				width: 280px;
			}	



			.featuresMenuSubmenuWrap{
				.flexWrap{
					width: 280px;
					.featuresMenuSubmenuItem{
						flex-basis: 33%;
						.featuresSMTextItem{
							font-size: 10px;
						}
					}
				}
			}

		}

	}
	

/*1.4. slider
___________________________________________________________*/

	.slider{
		.slideInfo{
			width: 220px;
			height: 120px;
			.compName{
				font-size: 30px;
				padding: 0;
				line-height: 30px;
				text-align: center;
			}
			.compNameLeftWrap{
				text-align: center;
			}
			.sliderHead{
				font-size: 35px;	
				margin: 10px 0 15px 0;
			}
			.compDesc{
				width: 220px;
				display: block;
				font-size: 10px;
				line-height: 15px;
				letter-spacing: -.5px;
				padding: 0px;
				border-left: 0px solid #fff;
			}

			.shopBtn{
				font-size: 12px;
				padding: 8px 12px;
			}
		}

		/*pagination*/
		.owl-controls{
			bottom: 40px;
			.owl-pagination{
				.owl-page{
					span{
						width: 10px;							
						height: 10px;
					}
				}
				.active{
					span{
						width: 10px;							
						height: 10px;
					}	
				}
			}
			.owl-buttons{
				.owl-prev{
					i{
						font-size: 50px;
						left: 10px;
						top: -350%;
					}
				}
				.owl-next{
					i{
						font-size: 50px;
						right: 10px;
						top: -350%;
					}
				}
			}
		}

	}






/*===========================================================

2. main
============================================================*/

.container{
	position: relative;

/*============================================================*/
/*2.1. dealsSaleProducts*/
/*============================================================*/

.dealsSaleProducts{
	width: 100%;
	flex-wrap: wrap;
}


/*2.1.1. deals*/
/*___________________________________________________________*/


.deals{
	padding: 28px 0;
	flex-basis: 100%;
	text-align: center;

}
.dealsHeader{
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 15px 0;
	padding: 0 10px;
	.strong{
		font-size: 20px;
	}
}
.ourDeals{
	padding: 10px 0;
	margin: 0 auto;
	border-top: 1px solid #1581a9;
	font-size: 0;
	line-height: 0;
	.dealsText{
		font-size: 12px;
		line-height: 20px;
		margin: 0 0 26px 0;
	}
	.imgSection{
		width: 90px;
		height: 90px;
		display: inline-block;
		position: relative;
		margin: 0 10px 0 0;
		&:hover{
			box-shadow: 0px 0px 10px rgba(0,0,0,.35);
		}	
		&:last-child{
			margin: 0;
		}
	}
}



/*2.1.2. salesAndProducts*/

.salesAndProducts{
	flex-basis: 100%;
	flex-wrap: wrap;
}




/*2.1.2.1. sale*/
/*___________________________________________________________*/

.sale{
	flex-basis: 80%;
	margin: 0 auto;
	padding: 10px;

	.saleDate{
		display: inline-block;
		vertical-align: top;
		z-index: 10;
		position: relative;
		p{
			font-size: 16px;
			display: block;
			width: 53px;
			height: 47px;
			padding: 9px 0 0 0;
			span{
				font-size: 9px;
			}
		}
	}
	.goodImg{
		width: 300px;
		position: relative;
		left: 0px;
		.saleIcon{
			position: absolute;
			right: -30px;
			top: 20px;
		}
	}
	.goodBottom{
		.goodDisc{
			.goodName{
				margin: 0 0 5px 0;
				letter-spacing: -.5px;
			}
			.oldPrice{
				margin: 0px 10px 0px 0;
			}
			.stars{
				margin: 10px 0 0 0;
				font-size: 12px;
			}
		}
		.pagination{
			a{
				line-height: 35px;
				width: 35px;
				height: 35px;
				font-size: 22px;
			}
		}
	}

}





/*2.1.2.2. products*/
/*___________________________________________________________*/


.products{
	flex-basis: 100%;
	font-size: 0;
}
.productsBlockHeader{
	font-size: 20px;
	margin: 5px 0;
	.black{
		font-size: 20px;
	}
}
.productArticle{
	width: 33%;
	padding: 3px;
	display: inline-block;
	border-top: none;
	border: 1px solid #ddd;
	border-left: none;
	text-align: center;
	&:first-child{
		border-left: 1px solid #ddd;

	}
	.imgWrap{
		width: 90px;
		height: 90px;
		margin: 5px auto;
	}
	.productDisc{
		.productHeader{
			font-size: 11px;
			letter-spacing: -.5px;
			margin: 5px 0 7px 0;
		}
		.last{
			margin: 0px 0 7px 0;
		}
		.stars{
			font-size: 12px;
			margin: 0 0 7px 0;
		}
	}
}

}




/*============================================================*/
/*2.2. bannersBlock*/
/*============================================================*/

.bannersBlock{
	.container{
		.flexWrap{
			flex-wrap: wrap;
			.bannerImg{
				flex-basis: 100%;
			}
			.textNode{
				top: 30px;
				width: 100%;
				text-align: center;
				.blockHeader{
					font-size: 30px;
					letter-spacing: -.5px;
				}

				.headSpan{
					font-size: 30px;
					letter-spacing: -.5px;
				}
				.textDisc{
					font-size: 20px;
					line-height: 25px;
					letter-spacing: -.1px;
				}
				.discSpan{
					font-size: 20px;
				}
			}
		}
	}
}



/*============================================================*/
	/*2.3. feauteredProduct*/
/*============================================================*/

.feauteredProduct{
	.sectionWrap{
		.sectionHeader{
			font-size: 20px;
			line-height: 30px;
			margin: 25px 0 10px 0;
		}

		.sectionHeaderSpan{
			font-size: 20px;
		}

		.slideItom{
			margin: 15px;
			img{
				margin: 0 0 10px 0;
			}
			.slideGoodsLink{
				margin: 5px 0;
			}
			.stars{
				margin: 5px 0 ;
			}
			.oldPrice{
				margin: 0 5px 0 0;
			}
			.redPrice{
				margin: 0 0 15px 0;
			}
		}
	}
}







/*============================================================*/
	/*2.3. feauteredProduct*/
/*============================================================*/

.feauteredProduct{
	.sectionWrap{
		/*owlControls*/
		.owl-prev{
			.fa-angle-left{
				left: 15px !important;
			}
		}
		.owl-next{
			.fa-angle-right{
				right: 15px !important;

			}
		}
	}
}






/*============================================================*/

/*3. footer*/

/*============================================================*/

.footer{


.supportPanel{
	padding: 5px 0;
	.container{

		.flexWrap{
			flex-wrap: wrap;
			padding: 0;

			.textWrap{
				flex-basis: 100%;
				text-align: center;
				margin: 0 0 10px 0;
			}
			.headerNode{
				font-size: 14px;
				line-height: 18px;
			}
			.supportTextNode{
			}

			.supportFormWrap{
				flex-basis: 100%;
			}
			.formWrap{
				width: 280px;
				margin: 0 auto;
				.fa{
					padding: 0 8px;
					line-height: 32px;
					font-size: 18px;
					margin: 0 16px 0 0;
					&::after{
						height: 28px;
						top: 4px;
					}
				}
				#support{
					width: 60%;
					font-size: 11px;
				}
				.supportBtn{
					line-height: 30px;
					padding: 2px 5px;
				}
			}
		}
	}

}

}

/*============================================================*/

/*3.3 bottomLine*/

/*============================================================*/

.footer{

	

.bottomLine{
.container{
	padding: 25px 0 0 0;
	.flexWrap{
		.leftBlock{
			flex-basis: 100%;
			text-align: center;
			padding: 0px 0 10px 0;
		}
		.bottomLineText{
			font-size: 18px;
		}
		.ourApp{
			display: inline-block;
			margin: 10px 5px 0 5px;
		}
		.app-s{
			display: block;
			width: 117px;
			height: 39px;
		}

		

		.rightBlock{
			flex-basis: 100%;
			text-align: center;
			padding: 0px;
		}


		.socialPanel{
			.socPanelItem{
				width: 40px;
				height: 40px;
				margin: 10px 10px 0 0;
				.socPanelText{
					line-height: 40px;
				}
			}
		}

	}
}

}


}







}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

/*============================================================*/
/*1.1. topLine
/*============================================================*/
.container{

.topLine{
	&__left{
		flex: 1 1 100%;
		flex-direction: column;
		justify-content: center;

	}
	&__right{
		flex: 1 1 100%;
		flex-direction: column;
		justify-content: flex-start;
	}
	&__link{
		padding: 5px 5px;
		letter-spacing: -.4px;
		&_target{
			&:after{
				margin: 0 0 0 1px;				
			}
			
		}
	}
	&__hide{
		display: inline;
	}
}
}



	.hide480{
		display: none;
	}
	

	.mainMenuLine .container .mainMenuNav .mainMenuList {
		.mainMenuItem{
			.livingroomMenuSubmenuWrap{
				padding:  5px;
				width: 140px;
				.livingroomSubmenu{
					flex-wrap: wrap;
					.livingroomSubmenuItem{
						flex-basis: 100%;
						padding: 3px 0;	
					}
				}
				a{
					font-size: 10px;
					letter-spacing: -.5px;
					padding: 0px 0;
				}
				.headerTemp{
					font-size: 10px !important;
				}
			}	

	


			.featuresMenuSubmenuWrap{
				.flexWrap{
					width: 200px;
					.featuresMenuSubmenuItem{
						flex-basis: 50%;
						.featuresSMTextItem{
							padding: 0px;
						}
					}
				}
			}

		}

	}	



/*1.4. slider
___________________________________________________________*/

	.slider{
		.slideInfo{
			width: 220px;
			height: 120px;
			.compName{
				font-size: 30px;
				padding: 0;
				line-height: 30px;
				text-align: center;
			}
			.compNameLeftWrap{
				text-align: center;
			}
			.sliderHead{
				font-size: 35px;	
				margin: 10px 0 15px 0;
			}
			.compDesc{
				width: 220px;
				font-size: 10px;
				line-height: 15px;
				letter-spacing: -.5px;
				padding: 0px;
				border-left: 0px solid #fff;
			}

			.shopBtn{
				font-size: 12px;
				padding: 8px 12px;
			}
		}

		/*pagination*/
		.owl-controls{
			bottom: 40px;
			.owl-buttons{
				.owl-prev{
					i{
						font-size: 50px;
						left: 10px;
						top: -250%;
					}
				}
				.owl-next{
					i{
						font-size: 50px;
						right: 10px;
						top: -250%;
					}
				}
			}
		}

	}



/*===========================================================

2. main
============================================================*/

.container{
	position: relative;

/*============================================================*/
/*2.1. dealsSaleProducts*/
/*============================================================*/

.dealsSaleProducts{
	width: 100%;
	flex-wrap: wrap;
}


/*2.1.1. deals*/
/*___________________________________________________________*/


.deals{
	padding: 28px 0;
	flex-basis: 100%;
	text-align: center;

}
.dealsHeader{
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 15px 0;
	padding: 0 10px;
	.strong{
		font-size: 20px;
	}
}
.ourDeals{
	padding: 10px 0;
	margin: 0 auto;
	border-top: 1px solid #1581a9;
	font-size: 0;
	line-height: 0;
	.dealsText{
		font-size: 12px;
		line-height: 20px;
		margin: 0 0 26px 0;
	}
	.imgSection{
		width: 35%;
		height: 35%;
		min-width: 80px;
		display: inline-block;
		position: relative;
		margin: 0;
		&:hover{
			box-shadow: 0px 0px 10px rgba(0,0,0,.35);
		}	
		&:last-child{
			margin: 0;
		}
	}
}



/*2.1.2. salesAndProducts*/

.salesAndProducts{
	flex-basis: 100%;
	flex-wrap: wrap;
}




/*2.1.2.1. sale*/
/*___________________________________________________________*/

.sale{
	flex-basis: 100%;
	padding: 10px;


	.saleDate{
		display: inline-block;
		vertical-align: top;
		z-index: 10;
		position: relative;

		p{
			font-size: 14px;
			display: block;
			width: 43px;
			height: 37px;
			padding: 7px 0 0 0;
			span{
				font-size: 8px;
			}
		}
	}
	.goodImg{
		width: 220px;

		position: relative;
		left: 0px;

		.saleIcon{
			position: absolute;
			right: -30px;
			top: 20px;
		}
	}
	.goodBottom{
		.goodDisc{
			.goodName{
				margin: 0 0 5px 0;
				letter-spacing: -.5px;
			}
			.oldPrice{
				margin: 0px 5px 0px 0;
			}
			.stars{
				margin: 10px 0 0 0;
				font-size: 12px;
			}
		}
		.pagination{
			a{
				line-height: 25px;
				width: 25px;
				height: 25px;
				font-size: 22px;
			}
		}
	}

}





/*2.1.2.2. products*/
/*___________________________________________________________*/


.products{
	flex-basis: 100%;
	font-size: 0;
}
.productsBlockHeader{
	font-size: 20px;
	margin: 5px 0;
	.black{
		font-size: 20px;
	}
}
.productArticle{
	width: 33%;
	padding: 3px;
	display: inline-block;
	border-top: none;
	border: 1px solid #ddd;
	border-left: none;
	text-align: center;
	&:first-child{
		border-left: 1px solid #ddd;

	}
	.imgWrap{
		width: 90px;
		height: 90px;
		margin: 5px auto;
	}
	.productDisc{
		.productHeader{
			font-size: 11px;
			letter-spacing: -.5px;
			margin: 5px 0 7px 0;
		}
		.last{
			margin: 0px 0 7px 0;
		}
		.stars{
			font-size: 12px;
			margin: 0 0 7px 0;
		}
	}
}

}




/*============================================================*/
/*2.2. bannersBlock*/
/*============================================================*/

.bannersBlock{
	.container{
		.flexWrap{
			.textNode{
				top: 25px;
				.blockHeader{
					font-size: 25px;
				}

				.headSpan{
					font-size: 25px;
				}
				.textDisc{
					font-size: 16px;
					line-height: 18px;
				}
				.discSpan{
					font-size: 16px;
				}
			}
		}
	}
}






/*============================================================*/
/*2.4. adventages*/
/*============================================================*/
.adventages{
.container{
	
.flexWrap{
	flex-wrap: wrap;
	.adv{
		text-align: center;
		flex-basis: 100%;
		padding: 0px;
		.imgWrap{
			display: inline-block;
			margin: 10px auto;
			width: 80px;
			height: 80px;
		}
		.textWrap{
			width: 70%;
			margin: 0;
			padding: 0;
			text-align: center;
			.advHeader{
				font-size: 16px;
				line-height: 20px;
			}
			.advTextNode{
				margin: 10px 0 0 0;
				font-size: 12px;
				color: #fff;
				letter-spacing: -.3px;
				width: 100%;
			}
		}
	}
}

}

}






/*============================================================*/
/*3.2. mainFooter*/
/*============================================================*/

.footer{



.mainFooter{
	position: relative;
	.footerBg{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	.flexWrap{
		background: rgba(255,255,255,.08);
		height: auto;
		flex-wrap: wrap;
	}

	.bottomInfo{
		padding: 10px 5px;
		flex-basis: (100%/3);
		.firstElement{
			color: #fff;
			line-height: 30px;
			margin: 0 0 5px 0;
			position: relative;
			font-size: 12px;
			&::after{
				content: '';
				display: block;
				width: 40px;
				height: 2px;
			}
		}
		.mainFooterTextNode{
			color: #fff;
			line-height: 20px;
			font-size: 10px;
			.fa{
				margin: 0 5px 0 0;
				font-size: 12px;
			}
		}
	}
	.blueInfo{
		flex-basis: 100%;
		padding: 0 0 0 20px;
		background: rgba(39,156,199,.35);
		.payWrap{
			flex-wrap: wrap;
			justify-content: flex-start;
			padding: 25px 0 5px 0;
			.payItom{
				margin: 0 5px 0px 0;
				a{
					width: 42px;
					height: 26px;
					display: block;
				}
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}



}









}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.mainMenuLine .container .mainMenuNav .mainMenuList {
		.mainMenuItem{
			display: inline-block !important;
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}