/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1170px) {
  .container .searchWrap {
    margin: 31px 0px 0 20px;
    width: 40%; }
  .container .shippingWrap {
    margin: 30px 0px 0 5px;
    width: 25%; }
  .container .cartWrap .cartHeader {
    font-size: 14px;
    line-height: 25px; }
  .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .home {
    padding: 13px 14px; }
  .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .features {
    padding: 17px 14px; }
  .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .livingRoom {
    padding: 17px 14px; }
  .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .badrooms {
    padding: 17px 14px; }
  .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .blog {
    padding: 17px 14px; }
  .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .contactUs {
    padding: 17px 14px; }
  .mainMenuLine .container .mainMenuNav .mainMenuList .badroomsMenuItem .subMenuBadroomsWrap .subMenuBadrooms {
    width: 160px;
    padding: 10px; }
  .mainMenuLine .container .mainMenuNav .mainMenuList .badroomsMenuItem .subMenuBadroomsWrap .goods {
    margin: 10px;
    width: 230px;
    height: 400px; }
    .mainMenuLine .container .mainMenuNav .mainMenuList .badroomsMenuItem .subMenuBadroomsWrap .goods:last-child {
      margin: 10px 10px 10px 0; }
  .container .featuresMenuSubmenuWrap {
    left: -50px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .hide992 {
    display: none; }
  .hideAll992 {
    display: none; }
  .container .rightPanel .chatWrap {
    padding: 0 15px 0 0; }
  .container .furnitureWrap .furnitureHeader {
    font-size: 25px; }
  .container .furnitureWrap .furnitureWrapDescription {
    font-size: 11px;
    letter-spacing: 2px; }
  .container .searchWrap {
    margin: 31px 0px 0 10px;
    width: 35%; }
    .container .searchWrap .searchBtn {
      width: 75px; }
  .container .shippingWrap {
    margin: 30px 0px 0 5px;
    width: 25%; }
    .container .shippingWrap .fa-truck {
      font-size: 20px;
      margin: 0 5px 0 0; }
    .container .shippingWrap .shippingText .shippingHeader {
      font-size: 15px; }
    .container .shippingWrap .shippingText .shippingDesc {
      font-size: 12px; }
  .container .cartWrap {
    width: 150px; }
    .container .cartWrap .cartHeader {
      font-size: 12px;
      line-height: 25px; }
  .container .livingroomMenuSubmenuWrap {
    padding: 15px 10px 10px 10px; }
    .container .livingroomMenuSubmenuWrap .livingroomSubmenu .livingroomSubmenuItem {
      -webkit-flex-basis: 33%;
          -ms-flex-preferred-size: 33%;
              flex-basis: 33%; }
    .container .livingroomMenuSubmenuWrap a {
      padding: 5px 0; }
    .container .livingroomMenuSubmenuWrap .banner {
      width: 520px;
      margin: 10px 0 0 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .hide768 {
    display: none; }
  .hide992 {
    display: inline; }
  .container .rightPanel {
    margin: 10px 0 0 0; }
  .header .logInPanel .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #headLine .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    #headLine .container .furnitureWrap {
      width: 30%;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
    #headLine .container .searchWrap {
      width: 100%;
      margin: 10px 30px;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
      #headLine .container .searchWrap .searchForm {
        margin: 0 auto; }
      #headLine .container .searchWrap::after {
        content: "";
        width: 0px; }
    #headLine .container .shippingWrap {
      width: 35%;
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3; }
    #headLine .container .cartWrap {
      width: 25%;
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
          -ms-flex-order: 4;
              order: 4; }
  .container .livingroomMenuSubmenuWrap {
    padding: 10px;
    width: 180px; }
    .container .livingroomMenuSubmenuWrap .livingroomSubmenu {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .container .livingroomMenuSubmenuWrap .livingroomSubmenu .livingroomSubmenuItem {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        border-bottom: 1px solid #dadada;
        padding: 10px 0; }
  .container .menu768 {
    display: inline-block; }
  .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem {
    display: none;
    width: 120px; }
    .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .home {
      padding: 5px;
      width: 120px;
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 16px; }
    .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .features {
      padding: 5px;
      width: 120px;
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 12px; }
    .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .livingRoom {
      padding: 5px;
      width: 120px;
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 12px; }
    .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .badrooms {
      padding: 5px;
      width: 120px;
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 12px; }
    .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .blog {
      padding: 5px;
      width: 120px;
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 12px; }
    .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .contactUs {
      padding: 5px;
      width: 120px;
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 12px; }
    .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .subMenuBadroomsWrap {
      left: 100%;
      top: 0px; }
      .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .subMenuBadroomsWrap .subMenuBadrooms {
        padding: 10px 10px 0 10px; }
        .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .subMenuBadroomsWrap .subMenuBadrooms .firstSubMenuItem {
          font-size: 12px; }
        .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .subMenuBadroomsWrap .subMenuBadrooms .subMenuItem {
          padding: 5px 0;
          letter-spacing: -.5px; }
    .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .livingroomMenuSubmenuWrap {
      left: 100%;
      top: 0px;
      padding: 0 10px;
      width: 400px; }
      .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .livingroomMenuSubmenuWrap .livingroomSubmenu {
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap; }
        .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .livingroomMenuSubmenuWrap .livingroomSubmenu .livingroomSubmenuItem {
          border-bottom: none;
          margin: 0 10px;
          -webkit-flex-basis: 33%;
              -ms-flex-preferred-size: 33%;
                  flex-basis: 33%; }
          .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .livingroomMenuSubmenuWrap .livingroomSubmenu .livingroomSubmenuItem .headerTemp {
            font-size: 12px; }
      .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .livingroomMenuSubmenuWrap a {
        padding: 5px 0;
        letter-spacing: -.5px; }
      .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .livingroomMenuSubmenuWrap .banner {
        display: none; }
    .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .featuresMenuSubmenuWrap {
      left: 100%;
      top: 0px; }
      .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .featuresMenuSubmenuWrap .flexWrap {
        width: 400px;
        padding: 10px;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
        .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .featuresMenuSubmenuWrap .flexWrap .featuresMenuSubmenuItem {
          margin: 0 0 10px 0;
          display: block;
          -webkit-flex-basis: 33%;
              -ms-flex-preferred-size: 33%;
                  flex-basis: 33%; }
          .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .featuresMenuSubmenuWrap .flexWrap .featuresMenuSubmenuItem:nth-child(1) {
            margin: 0 0 10px 0; }
          .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .featuresMenuSubmenuWrap .flexWrap .featuresMenuSubmenuItem .headerTemp {
            margin: 0 5px 5px 5px;
            font-size: 12px; }
          .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .featuresMenuSubmenuWrap .flexWrap .featuresMenuSubmenuItem .featuresSMTextItem {
            padding: 3px 0;
            letter-spacing: -.5px; }
  .mainMenuLine .container .mainMenuNav .mainMenuList .active {
    padding: 0px;
    width: 120px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

@media only screen and (max-width: 530px) {
  #headLine .container .furnitureWrap {
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin: 5px 0; }
  #headLine .container .searchWrap {
    width: 100%;
    margin: 5px 20px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  #headLine .container .shippingWrap {
    width: 50%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  #headLine .container .cartWrap {
    width: 40%;
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem {
    /*width:120px;*/ }
    .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .livingroomMenuSubmenuWrap {
      width: 280px; }
    .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .featuresMenuSubmenuWrap .flexWrap {
      width: 280px; }
      .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .featuresMenuSubmenuWrap .flexWrap .featuresMenuSubmenuItem {
        -webkit-flex-basis: 33%;
            -ms-flex-preferred-size: 33%;
                flex-basis: 33%; }
        .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem .featuresMenuSubmenuWrap .flexWrap .featuresMenuSubmenuItem .featuresSMTextItem {
          font-size: 10px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .hide480 {
    display: none; }
  .container .leftPanel .mainRightMenu > li {
    margin: 0 2px; }
    .container .leftPanel .mainRightMenu > li a {
      letter-spacing: -1px; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .mainMenuLine .container .mainMenuNav .mainMenuList .mainMenuItem {
    display: inline-block !important; } }

/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
